<div *ngIf="showWarning"
    class="fixed top-0 left-0 z-50 flex flex-col items-center justify-center w-full text-xl font-medium bg-white h-dvh">
  <span>Por favor</span>
  <span>gire seu dispositivo na horizontal</span>
</div>

<!-- <div class="w-full h-dvh bg-zinc-100 mb-52">

  <div class="flex items-center w-full py-3 pl-5 pr-5">
    <h1 class="flex justify-center w-full text-2xl">
      Contador De Pontos
    </h1>
    <button class="flex items-center justify-center w-12 h-12 border-2 border-solid shadow-md border-zinc-300 rounded-2xl" (click)="fullScreen()" title="Tela cheia" aria-label="Ativar tela cheia">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
        <path d="M120-120v-200h80v120h120v80H120Zm520 0v-80h120v-120h80v200H640ZM120-640v-200h200v80H200v120h-80Zm640 0v-120H640v-80h200v200h-80Z"/>
      </svg>
    </button>
  </div>
  <div class="flex flex-col w-full h-full">
    <div class="flex h-full gap-5">
      <div class="flex flex-col w-full h-full gap-3">
        <button class="relative flex items-center justify-center w-full text-white transition-all duration-150 bg-red-500 h-2/3 active:scale-95" (click)="incrementPoints('teamRed')">
          {{ pointsTeamRed }}
          <div *ngIf="winner === 'teamRed'" class="winner">Time vermelho venceu</div>
        </button>
        <div class="flex items-center justify-between w-full gap-2">
          <h3 class="flex w-1/2 gap-3 py-3 pl-2 text-lg border-2 border-solid rounded-lg shadow-lg border-zinc-500">
            <span class="w-3/4">Sets ganhos:</span>
            <span class="w-1/4">{{ setsTeamRed}}</span>
          </h3>
          <button class="w-1/2 py-3 text-lg text-white transition-all duration-150 border-2 border-solid rounded-lg shadow-lg bg-zinc-500 active:scale-95 active:bg-zinc-600 border-zinc-500 active:border-zinc-600" (click)="backPoint('teamRed')">
            Voltar ponto
          </button>
        </div>
      </div>
      <div class="flex flex-col w-full h-full gap-3">
        <button class="relative flex items-center justify-center w-full text-white transition-all duration-150 bg-blue-600 rounded-lg shadow-lg h-2/3 active:scale-95"
        (click)="incrementPoints('teamBlue')">
          {{ pointsTeamBlue }}
          <div *ngIf="winner === 'teamBlue'" class="winner">Time azul venceu</div>
        </button>
        <div class="flex items-center justify-between w-full gap-2">
          <h3 class="flex w-1/2 gap-3 py-3 pl-2 text-lg border-2 border-solid rounded-lg shadow-lg border-zinc-500">
            <span class="w-3/4">Sets ganhos:</span>
            <span class="w-1/4">{{ setsTeamBlue}}</span>
          </h3>
          <button class="w-1/2 py-3 text-lg text-white transition-all duration-150 border-2 border-solid rounded-lg shadow-lg bg-zinc-500 active:scale-95 active:bg-zinc-600 border-zinc-500 active:border-zinc-600" (click)="backPoint('teamBlue')">
            Voltar ponto
          </button>
        </div>
      </div>
    </div>
    <div class="w-full">
      <button class="w-full py-3 text-lg text-white transition-all duration-150 border-2 border-solid rounded-lg shadow-lg bg-zinc-500 active:scale-95 active:bg-zinc-600 border-zinc-500 active:border-zinc-600" (click)="resetGame()">
        Resetar Jogo
      </button>
    </div>
  </div>

</div> -->

<main class="relative w-full h-dvh">
  <div class="absolute z-10 flex flex-col items-center justify-center gap-3 -translate-x-1/2 left-1/2">
    <app-timer></app-timer>
    <app-sets></app-sets>
  </div>
  <div class="absolute z-10 -translate-x-1/2 bottom-2 left-1/2">
    <app-menu></app-menu>
  </div>

  <div class="grid w-full h-full grid-cols-2 gap-1">
    <div class="relative flex flex-col items-center justify-center w-full h-full transition-all duration-100 bg-red-600"
    (click)="incrementPoints('teamRed')">
      <h1 class="text-white text-8xl">
        {{ pointsTeamRed }}
      </h1>
      <div *ngIf="winner === 'teamRed'" class="winner">Time vermelho venceu</div>
    </div>

    <div class="relative flex flex-col items-center justify-center w-full h-full bg-blue-600"
    (click)="incrementPoints('teamBlue')">
      <h1 class="text-white text-8xl">
        {{ pointsTeamBlue }}
      </h1>
      <div *ngIf="winner === 'teamBlue'" class="winner">Time azul venceu</div>
    </div>
  </div>
</main>
